.score {
	width: 30.7%;
	height: 25.6vh;
	border-radius: 5px;
	background: #FBFBFB;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
   position: relative;
}

.score .recharts-legend-item-text {
	color: #20253A !important;
	margin-left: 10px;
	font-size: 1em;
	font-weight: 500;
	line-height: 24px;
}

.score__label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 95px;
	text-align: center;
	margin-top: 16px;
}

.score__label-count{
	color:#282D30;
	font-size: 1.6em;
	font-weight: 700;
	line-height: 26px;
	margin-bottom: 8px;
}
.score__label-text {
	color: #74798C;
}

@media screen and (max-width: 1100px) {
	.score .recharts-legend-item-text {
		margin-left: -10px;
		font-size: 0.9em;
		line-height: 10px;
	}
	.score__label-count {
		font-size: 1.3em;
		line-height: 20px;
		}
	.score__label-text {
		font-size: 0.9em;
	}
}