.activity__tooltip-label {
   background-color:  #E60000;
	color: #ffffff;
	text-align: center;
	font-size: 7px;
	font-weight: 500;
	line-height: 24px;
	width: 39px; 
	height: 63px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translate(25%, 0) 
}