main {
	width: 100%;
	max-width: 1440px;
}

.content {
	padding-left: 8vw;
	margin: 6.7vh 6.3vw 10.2vh;
}

/*styles for loader*/
.loader-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.loader {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	width: 80px;
	height: 80px;  
}

.loader:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #ff0101 transparent #ff0101 transparent;
	animation: rotation 1.2s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


.greeting {
	margin-bottom: 7.25vh;
}

.greeting__title {
	font-size: 3em;
	color: #000;
}

.greeting__title span {
	color: #ff0101;
}

.greeting__subtitle {
	font-size: 1.15em;
	margin-top: 3.5vh;
}

.stat-row {
	display: flex;
	justify-content: space-between;
	max-width: 1124px;
	max-height: 611px;
}

/*styles for charts container*/
.chart-container {
	width: 74%;
	height: 59.7vh;
	max-height: 611px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chart-container__row{
	width: 100%;
	height: 43%;
	display: flex;
	justify-content: space-between;
}

/*styles for aside*/
.stat-aside {
	flex: 0 1 23%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 258px;
}

.error, .error-msg {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
	font-size: 2em;
}
.error p {
	margin-bottom: 100px;
	font-size: 2em;
}


/*Responsive*/

@media screen and (max-width: 1200px) {
	.content {
		padding-left: 7vw;
		margin: 6vh 4vw 8vh;
	}
	.stat-aside {
		flex: 0 1 20%;
	}
	.chart-container {
		height: 60vh;
	}
}

@media screen and (max-width: 1100px) {
	.content {
		padding-left: 6vw;
		margin: 5vh  3vw 2vw 7vh;
	}
	.greeting {
		margin-bottom: 4.5vh;
	}
	.greeting__title {
		font-size: 2.7em;
	}
	.greeting__subtitle {
		font-size: 1em;
		margin-top: 3vh;
	}
	.chart-container {
		width: 77%;
	}
	.stat-aside {
		flex: 0 1 16%;
	}
}
