.card-row {
	display: flex;
	align-items: center;
	height: 12.1vh;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
	background: #FBFBFB;
	padding: 3.15vh 2.25vw;
}
.card__icon img {
	width: 60px;
	height: 60px;
}

.card__description {
	margin-left: 1.7vw;
}

.card__value {
	color: #282D30;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 24px;
}

.card__type {
	color: #74798C;
	font-size: 0.88em;
	font-weight: 500;
	line-height: 24px;
}