.header {
	width: 100vw;
	height: 9vh;
	background-color: #020203;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 6.2vw 0 30px;
}

.header__logo img {
	width: 12.4vw; 
	height: 6vh;
}

.header__nav {
	max-width: 75%;
	width: 65em;
	display: flex;
	justify-content: space-between;
}

.header__nav a {
	color: #fff;
	font-size: 1.5em;
}